* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  background: none;
  border: none;
  font-family: "Ubuntu", sans-serif;
}
label {
  cursor: pointer;
}
input {
  outline: 0;
  font-family: "Ubuntu", sans-serif;
}
ul,
ol {
  list-style: none;
}